<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title>校史馆预约管理后台</title>
    <link rel="icon" href="../static/favicon.ico">
    <link rel="stylesheet" href="../static/bootstrap_4.5.2.min.css">
    <link rel="stylesheet" href="../static/admin.css">
    <script src="../static/jquery-3.5.1.min.js"></script>
    <script src="../static/io_3.0.3_socket.io.js"></script>
    <script src="../static/bootstrap_4.5.2.min.js"></script>
    <script src="../static/utils.js"></script>
    <script src="../static/admin.js"></script>
</head>
<body>
<div class="container" id="container"></div>
</body>
</html>


