<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title>校史馆预约管理后台</title>
    <link rel="icon" href="../static/favicon.ico">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/admin.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.socket.io/3.0.3/socket.io.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../static/utils.js"></script>
    <script src="../static/admin.js"></script>
</head>
<body>
<div class="container" id="container"></div>
</body>
</html>
