<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>校史馆团体预约参观</title>
    <link rel="icon" href="../static/favicon.ico">
    <link rel="stylesheet" href="../static/bootstrap_4.5.2.min.css">
    <link rel="stylesheet" href="../static/user.css">
    <script src="../static/jquery-3.5.1.min.js"></script>
    <script src="../static/utils.js"></script>
    <script src="../static/user.js"></script>
</head>
<body>{{ form.hidden_tag() }}
<div id="container" class="container mt-5"></div>
</body>
</html>
