/* 自定义样式 */
.container {
    margin: auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 96%; /* 设置最大宽度，根据需要进行调整 */
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.btn-primary {
    width: 100%;
}

.date-bar, .time-bar {
    display: flex;
    justify-content: flex-start; /* 使用 flex-start 以确保左侧对齐 */
    margin-top: 10px;
    overflow-x: auto; /* 启用水平滚动条 */
    white-space: nowrap; /* 防止换行 */
}

.time-segment {
    font-size: 13px;
    flex-grow: 0; /* 关闭 flex-grow */
    flex-shrink: 0; /* 关闭 flex-shrink */
    flex-basis: 100px; /* 设置每个 time-segment 的初始宽度，可以根据需要调整 */
    height: 45px;
    background-color: #fff;
    border: 2px solid #007bff;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
}

.time-segment {
    color: black;
}

.time-segment.selected {
    background-color: #007bff;
    color: white;
}

.time-segment.reserved {
    background-color: #fff3cd;
    border-color: #856404;
}

.time-segment.unable {
    background-color: #dbe3ea;
    border-color: #4e555b;
}

.ampm {
    height: min-content;
    font-size: small;
    font-weight: bold;
}

.date-segment:after {
    margin-left: 2px;
    margin-right: 2px;
}

.date-segment.selected {
    background-color: #007bff;
    color: #fff;
}

body {
    font-weight: normal;
}

/* Webkit浏览器的滚动条样式 */
/* 这里可以根据需要进行调整，比如改变颜色、宽度等 */
::-webkit-scrollbar {
    width: 2px; /* 设置滚动条宽度 */
}

::-webkit-scrollbar-thumb {
    background-color: #00000000; /* 设置滚动条的颜色 */
    border-radius: 3px; /* 设置滚动条的圆角 */
}

::-webkit-scrollbar-track {
    background-color: #00000000; /* 设置滚动条轨道的颜色 */
}

/* 悬停时滚动条的样式 */
::-webkit-scrollbar-thumb:hover {
    background-color: #0056b3; /* 设置悬停时滚动条的颜色 */
}

.flash-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #007bff42;
    padding: 5px;
    display: none;
    border-radius: 10px;
}

.container {
    max-width: 960px; /* 设置容器最大宽度 */
}

h2 {
    text-align: center; /* 标题居中 */
    margin-bottom: 30px; /* 增加标题下方的间距 */
}

.form-group {
    margin-bottom: 20px; /* 增加表单元素之间的间距 */
}

.btn-primary {
    width: 100%; /* 让按钮充满父元素宽度 */
}

table {
    margin-top: 30px; /* 增加表格上方的间距 */
}

th, td {
    padding: 10px; /* 增加表格单元格内的间距 */
}

.smaller-text {
    font-size: 13px; /* 调整字体大小为14px，可以根据需要进行调整 */
}

.add-indent {
    text-indent: 2em; /* 增加段首空两字 */
}

h5 {
    color: #dc3545;
    font-weight: bolder;
}

.alert {
    background-color: #c3dfff99;
}

.attention {
    font-size: small;
}

strong {
    padding-bottom: 318px;
}

.form-group label, .form-group input {
    display: inline-block;
    vertical-align: middle;
}


table {
    background-color: #fff;
    width: 100%;
    table-layout: unset;
    border-radius: 5px;
}

th {
    background-color: #007bff;
    color: #fff;
}

.th-left {
    border-top-left-radius: 5px;
}

.th-right {
    border-top-right-radius: 5px;
}

td {
    font-size: small;
}

img {
    width: 90%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: auto;
    padding-top: 7%;
}

.shm {
    max-width: 960px;
}

.tip {
    display: block;
    margin: auto;
    max-width: 90%;
    border: 3px #9fcdff;
    border-radius: 3px;
}
